body{
    padding: 0;
    margin: 0;
    color: #FFFFFF;
    font-family:'Montserrat', sans-serif;
    font-style: normal;
    font-size: x-large;
}

* {
    box-sizing: border-box;
}

p{
    margin: 0;
    padding: 0;
}

.container{
    margin: 0 auto;
    background:
            url('../img/theme3.svg') no-repeat left center / cover;
}

.teamWord{
    padding-top: 2%;
    padding-bottom: 3%;
    margin: 0;
    font-family: Montserrat;
    font-weight: 500;
    font-size: 64px;
    line-height: 78px;
    color: #8FBB4B;
    text-align: center;
}

.tables {
    width: 100%;
}

.tables ul {
    text-align: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

.tables li {
    margin: 0;
    padding: 0;
    display: inline-block;
}

.name{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: large;
    color: #FFFFFF;
}

.link{
    margin: 0;
    padding: 0;
    font-family: Montserrat;
    font-size: x-large;
    color: #FFFFFF;
    text-decoration: none;
}



.plus{
    text-align: center;
}